/* High-Contrast Text */
.chat-container,
.ember-chat-container {
	color: #000 !important;
}

/* Dark: High-Contrast Text */
.theatre .chat-container,
.theatre .ember-chat-container,
.chat-container.dark,
.chat-container.force-dark,
.ember-chat-container.dark,
.ember-chat-container.force-dark,

.ffz-dark .ember-chat-container.dark .chat-line,
.ffz-dark .chat-container.dark .chat-line
 {
	color: #fff !important;
}